<div class="nav-wrapper col s12">
    <div class="left">
        <ul class="">
            <li><a href="/">Home</a></li>
            <li><a href="/recipes">All Recipes</a></li>
            <li><a href="/tryLater">Try Later</a></li>
            <li><a href="/favorites">Favorites</a></li>
        </ul>
    </div>
    <div class="right">
        <ul class="">
            <li><a href="/recipes/new"><i class="material-icons right">local_dining</i>Add New</a></li>
        </ul>
    </div>
</div>