<div class="nav-wrapper col s12">
    <ul class="left">
        <li><a href="/">Home</a></li>
        <li><a href="/recipes">All Recipes</a></li>
        <li><a href="/tryLater">Try Later</a></li>
        <li><a href="/favorites">Favorites</a></li>
    </ul>
    <ul class="right">
        <li><a href="/recipes/new"><i class="material-icons left">local_dining</i>Add New</a></li>
    </ul>
</div>