<div class="nav-wrapper col s12">
    <ul class="left">
        <li>

            <i class="material-icons">local_cafe</i>
        </li>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/recipes">All Recipes</a>

        </li>
        <li>
            <a href="/tryLater">Try Later</a>

        </li>
        <li>

            <a href="/favorites">Favorites</a>
        </li>
    </ul>
</div>