<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
</head>

<body class="yellow lighten-5">
    <div class="container">
        <header>
            <nav class="row lime">
                <div class="nav-wrapper col s12">
                    <ul class="left">
                        <li><i class="material-icons">local_cafe</i></li>
                        <li><a href="/recipes/new">Add New</a></li>
                        <li><a href="/">Home</a></li>
                    </ul>
                </div>
            </nav>
            <div class="row">
                <h1 class="col s12 center-align grey-text text-darken-2">CookBook</h1>
                <h5 class="col s12 center-align grey-text">Save what you love</h5>
            </div>
        </header>
        <div class="divider"></div>
        <main>
            <div class="section row">
                <!-- recipe box card -->
                <div class="col s12 m6 l4 center-align">
                    <a class="white-text" href="/recipes">
                        <div class="card z-depth-2 hoverable">
                            <div class="card-image">
                                <img src="https://i.imgur.com/cTpQ0yr.jpg" alt="Recipe Box">
                            </div>
                            <div class="card-action orange accent-2">
                                    ALL RECIPES
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Favorites box card -->
                <div class="col s12 m6 l4 center-align">
                    <a class="white-text" href="/favorites">
                        <div class="card z-depth-2 hoverable">
                            <div class="card-image">
                                <img src="https://i.imgur.com/qykwqsW.jpg" alt="Pie">
                            </div>
                            <div class="card-action orange accent-2">
                                FAVORITES
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Try Later Box Card -->
                <div class="col s12 m6 l4 center-align">
                    <a class="white-text" href="/trylater">
                        <div class="card z-depth-2 hoverable">
                            <div class="card-image">
                                <img src="https://i.imgur.com/LJ2pbHc.jpg" alt="Meal Prep">
                            </div>
                            <div class="card-action orange accent-2">
                                TRY LATER
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </main>
    </div>
</body>

</html>