<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookBook</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
        </nav>
        <h1>CookBook</h1>
        <h3>Save what you love</h3>
    </header>
    <main>
        <a href="/recipes">All recipes</a>
        <a href="/favorites">favorites</a>
        <a href="/trylater">Try later</a>
    </main>
</body>
</html>