<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookBook | Favorites</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/recipes">All Recipes</a>
        <a href="/trylater">Try Later</a>
        <a href="/favorites">Favorites</a>
    </nav>
    <h1>Favorite Recipes Index Page</h1>
</body>
</html>