<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <nav>
        <%- include("../partials/nav.ejs") %>
    </nav>
    <h1>Saved for Later</h1>
    <main>
        <a href="/recipes/new">Add a new recipe</a>
        <ul>
            <% for (i=0; i<tryLater.length; i++){%>
                <li><a href="/recipes/<%=tryLater[i]._id%>"> <%=tryLater[i].title%> </a></li>
            <% } %> 
        </ul>
    </main>
</body>
</html>