<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CookBook | all</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/recipes">All Recipes</a>
        <a href="/favorites">Favorites</a>
        <a href="/tryLater">Try Later</a>
    </nav>
    <main>
        <h1>All Recipes Index Page</h1>
        <a href="/recipes/new">Add a new recipe</a>
        <ul>
            <% for (i=0; i<allRecipes.length; i++){%>
                <li><a href="/recipes/<%=allRecipes[i]._id%>"> <%=allRecipes[i].title%> </a></li>
            <% } %> 
        </ul>
    </main>
</body>
</html>