<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body class="yellow lighten-5">
    <div class="container">
        <header>
            <nav class="row lime">
                <%- include("../partials/nav.ejs") %>
            </nav>
            <div class="row center-align">
                <h1 class="grey-text text-darken-2">New Recipe Form</h1>
            </div>
        </header>
        <div class="divider"></div><br><br>
        <main>
            <div class="row">
                <form class="col s12" action="/recipes" method="POST">
                    <!-- TITLE AND TAGS -->
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="title">Recipe Title: </label>
                            <input type="text" name="title" id="title">
                        </div>
                        <div class="input-field col s6">
                            <label for="tags">Use tags to sort this recipe</label>
                            <input type="text" name="tags" id="tags" placeholder="use , to separate tags">
                        </div>
                    </div>
                    <!-- DESCRIPTION -->
                    <div class="row">
                        <div class="col s12 m8">
                            <div class="input-field">
                                <label for="description"></label>
                                <textarea class="materialize-textarea" name="description" id="description"
                                    placeholder="Give a description for your recipe!"></textarea>
                            </div>
                            <!-- EXTERNAL LINK -->
                            <div class="input-field">
                                <label for="link">Link an external recipe</label>
                                <input type="text" name="link" id="link">
                            </div>
                            <!-- IMAGE LINK -->
                            <div class="input-field">
                                <label for="img">Got an image link?</label>
                                <input type="text" name="img" id="img">
                            </div>
                        </div>
                        <!-- RATE & ADD TO FAVORITES/TRY LATER -->
                        <div class="col s12 m4">
                            <div class="card">
                                <div class="card-content">
                                    <p class="card-title grey-text text-darken-2">Add to lists:</p>
                                    <label>
                                        <input type="checkbox" name="isFavorite">
                                        <span class="grey-text text-darken-2"> Mark this as a favorite: </span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="tryLater">
                                        <span class="grey-text text-darken-2"> Mark to try later?</span>
                                    </label>
                                    <label for="rating">
                                        <input type="number" name="rating" id="rating" placeholder="out of 10">
                                        <span class="grey-text text-darken-2">Rate your recipe!</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <!-- INGREDIENTS -->
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="ingredients">List your ingredients</label>
                                <textarea class="materialize-textarea" name="ingredients" id="ingredients" cols="30" rows="10"
                                placeholder="Type something!"></textarea>
                            </div>
                        </div>
                        <!-- INSTRUCTIONS -->
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="instructions">List your instructions.</label>
                                <textarea class="materialize-textarea" name="instructions" id="instructions" cols="30" rows="10"
                                placeholder="Type something!"></textarea>
                            </div>
                        </div>
                        <!-- ADDITIONAL NOTES -->
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="notes">Any additional notes to add?</label>
                                <textarea class="materialize-textarea" name="notes" id="notes" cols="30" rows="10"
                                placeholder="Type Something!"></textarea>
                            </div>
                        </div>
                        <!-- SUBMIT -->
                        <div class="row">
                            <div class="col s3">
                                <button class="btn lime hoverable" type="submit"><i class="material-icons left">local_dining</i>Add new</button>
                            </div>
                            <div class="col s3">
                                <a class="btn orange hoverable" href="/recipes"><i class="material-icons left">delete</i>Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>

</html>